
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>聊天机器人 - OwnThink</title>
<meta name="Keywords" content="思知机器人,聊天机器人,对话机器人,知识图谱机器人,知识图谱对话机器人,机器人API,聊天机器人API">
<meta name="Description" content="思知机器人,聊天机器人,对话机器人,知识图谱机器人,知识图谱对话机器人,机器人API,聊天机器人API,思知是作者的一个理想国，作者在人工智能方面不断努力着，希望有一天能够出现独立思考的人工智能机器人，虽然明知道短期内不可能实现，但却一直向着他的梦执着前行着。">
<link rel="stylesheet" type="text/css" href="css/index.css"/>
<link rel="stylesheet" type="text/css" href="css/media.css?_=2"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
<meta content="IE=edge,Chrome=1" http-equiv="X-UA-Compatible"/>
<meta content="webkit" name="renderer"/>
<link rel="shortcut icon" href="img/ico.png">
<body>
<div id="top"><a href="https://www.ownthink.com/docs/bot/" target="_blank">聊天机器人 | 微信机器人 | 对话机器人 - 使用文档</a></div>
<div id="box">
<div class="b-head">
<img class="h-img" alt="" src="img/logo.png" width=80; height=60;/>
<span class="h_span">思知机器人</span>
</div>
<div class="b-body">
<div class="rotWord">
<span></span>
<p>嗨，最近想我没有？</p>
</div>
</div>
<div class="b-footer">
<input type="text" name="text" id="f-left"/>
<div id="btn">发送</div>
</div>
</div>
<script src="js/jquery-1.11.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="https://www.ownthink.com/cdn/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="js/bot.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
